.detail {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    
    

    border: 1px solid red;
    height: 100%;
    /* margin-top : 15vh; */
    margin-top: 115px;
}

.detailSection1 {
    align-self: center;
    width: 33.3%;
    max-width: 33.3%;
}

.detailSection2 {
    align-self: center;
    width: 33.3%;
    max-width: 33.3%;
}

.detailSection3 {
    align-self: center;
    width: 33.3%;
    max-width: 33.3%;
}

.recipeTitle {
    font-size: 40px;
    font-weight: 900;
}

body {
    /* border: 1px solid black; */
    height: auto;
    margin: 0
}