@font-face {
    font-family: 'proxima-nova';
    src: url('../../Media/proxima-nova/Proxima-nova-extrabold.otf') format('opentype');
}

/*____________________________________________________________*/
.headline {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin-top: 115px;
    height: 50px;
    /* margin-top: 15vh; */

    padding: 1rem;
    /* border-bottom: 1px solid black; */
}

/*____________________________________________________________*/
.sortTitle {
    margin:0;
    font-family: 'proxima-nova';
    color: #C8553D;
}

/*____________________________________________________________*/
.selectWrapperSort {
    position: relative;
    font-family: 'proxima-nova';

}

.selectLabelSort {
    display: flex;
    align-items: center;

    padding: 10px;
    color: #C8553D;
    font-size: 20px;
    cursor: pointer;
}
.selectLabelSort:hover {
    background-color: #588B8B;
    color: #FFF4ED;
    box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,.5)
}

.selectListSort {
    display: none;
    position: absolute;
    z-index: 9999;
    margin:0;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #FFF4ED;
    list-style: none;
}

.selectWrapperSort:hover .selectListSort {
    display: block;
}
.selectWrapperSort:hover .selectLabelSort {
    border-bottom: 5px solid #C8553D;
}

.selectListSort li {
    padding: 5px 10px;
    color: #545454;
    text-align: start;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 192.7px;
}
.selectListSort li:hover {
    background-color: #E6E6E6;
}

/*____________________________________________________________*/
.deleteSuccessMessage {
    position: fixed;
    z-index: 1; /*behind filter list*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;

    margin: 0 37.4%;
    height: 40px;
    width: 338px;
    padding: 0 20px;
    color: green;
    font-size: 18px;
    background-color: #e5f2e5;
    border-radius: 5px;
    border: 3px solid green;

    animation: show_toast 1s ease forwards;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: show_toast;
}
@keyframes show_toast {
    0% {
        transform: translateY(-100%);
    }
    40% {
        transform: translateY(10%);
    }
    100%, 80% {
        transform: translateX(0);
    }
}