@font-face {
    font-family: 'proxima-nova';
    src: url('../../Media/proxima-nova/Proxima-nova-extrabold.otf') format('opentype');
}

.card {
    position: relative;
    min-height: 17rem;
    width: 312px;

    transition: transform 0.5s;
    overflow: hidden;

    font-size: 20px;
    border-radius: 7px;
}

.cardInner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: transform 0.7s;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #E6E6E6;
    font-size: 17px;
    background-color: #C8553D;
    font-family: 'proxima-nova';
}

.card:hover .cardInner {
    transform: translateY(-15%);
}

.cardTitle {
    margin: 0;
    text-align: start;
    font-size: 20px;
    font-family: 'proxima-nova';
}


.diet {
    margin: 5px
}