.mainDiv {
    /* margin-top: 15vh; */
    margin-top: 115px;
}

.checkboxes {
    display: flex;
    flex-direction: row;
}

.checkboxC {
    display: flex;
    flex-direction: column;
}

.checkboxR {
    display: flex;
    flex-direction: row;
}