@font-face {
    font-family: 'proxima-nova';
    src: url('../../Media/proxima-nova/Proxima-nova-extrabold.otf') format('opentype');
}

@font-face {
    font-family: 'source-sans-pro';
    src: url('../../Media//source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
}

.fullForm {
    display: flex;
    /* margin-top: 15vh; */
    margin-top: 115px;
    width: 100%;
    height: 100%;
}

/*____________________________________________________________*/
.formImageContainer {
    position: absolute;
    z-index: -1;
    margin-left: 150px;
    margin-top: 80px;
}

/*____________________________________________________________*/
.form {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 40px;
    margin: 200px 19% 100px;
    padding: 10px 50px 50px;
    background-color: bisque;
    font-family: 'proxima-nova';
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.3);
}

/*____________________________________________________________*/
.formSection1 {
    display: flex;
    justify-content: space-between;
}

.formLabel {
    margin: 0 0 15px;
    font-size: 25px;
}
/*____________________*/
.formTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 48%;
}
.formInputTitle{
    min-width: 75%;
    height: 30px;
    padding: 6px 15px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 7px;
    font-family: 'source-sans-pro';
}
.formInputTitle:focus {
    outline: none;
    box-shadow: 0 0 1.5px 1.5px green;
    border: 2px solid white;
}
/*____________________*/
.formHealthScore {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48%;
    gap: 20px;
}
/* FROM DETAILS.CSS: */
/* .healthScoreCircle {...} */
.formInputHealthScore {
    width: 80px;
    height: 50px;
    font-size: 40px;
    font-family: 'proxima-nova';
    color: #FFF;
    background-color: #FFD700;
    border: none;
    text-align: center;
}
.formInputHealthScore:focus {
    outline: none;
}

.formHealthScoreLabel-Errors {
    display: flex;
    flex-direction: column;

    /* height: 100%; */
    width: 50%;
}

/*____________________________________________________________*/
.formSection2 {
    display: flex;
    justify-content: space-between;
}

/*____________________________________________________________*/
.formSection2-1 {
    display: flex;
    flex-direction: column;

    gap: 50px;
    width: 48%;
}

.formDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formTextareaDescription {
    width: 85%;
    max-width: 85%;
    min-width: 85%;
    height: 110px;
    max-height: 260px;
    min-height: 110px;
    padding: 15px;
    font-size: 18px;
    border-radius: 7px;
    border: 2px solid black;
    font-family: 'source-sans-pro';
}
.formTextareaDescription:focus {
    outline: none;
    box-shadow: 0 0 1.5px 1.5px green;
    border: 2px solid white;
}
/*____________________*/
.formInstructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formInstructionsSteps {
    display: flex;
    flex-direction: column;

    gap: 20px;
    width: 100%;
}
.formTextAreaInstructions {
    width: 85%;
    max-width: 85%;
    min-width: 85%;
    height: 80px;
    max-height: 300px;
    min-height: 80px;
    height: 70px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 7px;
    font-family: 'source-sans-pro';
}
.formTextAreaInstructions:focus {
    outline: none;
    box-shadow: 0 0 1.5px 1.5px green;
    border: 2px solid white;
}
.formAddStepButton {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-size: 18px;
    color: #FFF;
    background-color: #C8553D;
    border: none;
    border-radius: 7px;
    font-family: 'proxima-nova';
    cursor: pointer;
}
.formAddStepButton:hover {
    background-color: rgb(181, 77, 55);
    color: #FFF4ED;
    box-shadow: 0 0.3rem 0.5rem rgba(181, 77, 55, 0.7);
}

/*____________________________________________________________*/
.formSection2-2 {
    display: flex;
    flex-direction: column;
    gap: 50px;

    width: 48%;
}

.formImage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formInputImage {
    min-width: 90%;
    height: 30px;
    padding: 6px 15px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 7px;
    font-family: 'source-sans-pro';
}
.formInputImage:focus {
    outline: none;
    box-shadow: 0 0 1.5px 1.5px green;
    border: 2px solid white;
}
/*____________________*/
.formDiets {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
}
.checkboxes {
    display: flex;
    justify-content: space-between;

    width: 100%;
    color: #545454;
}
.checkboxC {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.checkboxR {
    display: flex;
    align-items: center;
    margin: 1px;
    gap: 5px
}
.checkbox {
    width: 18px;
    min-width: 18px;
    height: 18px;
    min-width: 18px;
    cursor: pointer;
}

/*____________________________________________________________*/
.formRequirements {
    margin: -25px 0;
    font-size: 20px;
    text-align: start;
    padding-left: 50px;
    color: #C8553D;
}

/*____________________________________________________________*/
.formSubmitButtonDisallowed {
    align-self: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #FFF4ED;
    color: black;
    border: none;
    font-family: 'proxima-nova';
    cursor: not-allowed;
    pointer-events: none;
}

.formSubmitButtonAllowed {
    align-self: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #545454;
    color: white;
    border: none;
    box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.4);
    font-family: 'proxima-nova';
    cursor: pointer;
}
.formSubmitButtonAllowed:hover {
    background-color: black;
    color: #FFF4ED;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.8);
}

/*____________________________________________________________*/
.errorMessage {
    margin: 10px 0;
    font-size: 12px;
    text-align: start;
    cursor: default;
}

/*____________________________________________________________*/
.successfullPostMessage {
    position: fixed;
    z-index: 1; /*behind filter list*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;

    margin: 20px 37.6% 0;
    height: 40px;
    width: 332px;
    font-size: 18px;
    padding: 0 20px;
    color: green;
    background-color: #e5f2e5;
    border-radius: 5px;
    border: 3px solid green;

    animation: slideDown 1s ease, slideRight 3s ease 8s;
}
@keyframes slideDown {
    0% {
      transform: translateY(-300%);
    }
    50% {
        transform: translateY(20%);
    }
    80%, 100% {
      transform: translateY(0);
    }
}
@keyframes slideRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(1000%);
    }
}