.searchBar {
    display: flex;
    align-items: center;
}

.searchButton {
    border: none
}

.searchTitle {
    margin: 0;
    font-size: 30px;
    font-weight: 900 !important;
    background-color: #FFF4ED;
    color: #C8553D;
    padding: 0;
    cursor: pointer;
}

.searchSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    width: 280px;
    border: 2px solid #659157;
    border-radius: 2px;
}

.searchInput {
    height: 50px;
    width: 204px;
    padding: 0 0 0 18px;
    margin: 0;

    border: none;
    border-radius: 7px;
    font-size: 20px;
    background-color: #FFF4ED;
    outline: none;
}


.searchButtonIconContainer {
    background-color: #FFF4ED;
    padding: 0;
    border: none;
    cursor: pointer;
}

.searchButtonIcon {
    width: 58px;
    font-size: 25px;
    fill: #545454;
    align-self: center;
    margin: auto
}