.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 96%;
    /* height: 15%; */
    height: 115px;
    padding: 0 2%;
    margin: 0;

    background-color: #FFF4ED;
    z-index: 9999;
    box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,.3);
}

.title {
    text-decoration: none;
    font-size: 50px;
    margin: 0
}

.createRecipe {
    background-color: #588B8B;
    border: none;
    border-radius: 7px;
    color: #FFD5C2;
    width: 204px;
    height:65px;
    font-weight: 900;
    font-size: 17px;
}
.createRecipe:hover {
    background-color: #659157;
    color: #EFE6DD;
    cursor: pointer;
}



.selectWrapper {
    position: relative;
}

.selectLabel {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
}
.selectLabel:hover {
    background-color: #588B8B;
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* .select-label:hover + .select-list,
.select-list:hover {
  display: block;
} */
/* uncomment and remove states */

.selectList {
    position: absolute;
    top: 100%;
    margin:0;
    left: 0;
    display: none;
    background-color: #FFF4ED;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 1;
    list-style: none;
}
.selectList:hover {
    display: block;
}

.selectWrapper:hover .selectList {
    display: block;
}

.selectList li {
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}
.selectList li:hover {
    background-color: #e6e6e6;
}