@font-face {
    font-family: 'proxima-nova';
    src: url('../../Media/proxima-nova/Proxima-nova-extrabold.otf') format('opentype');
}
/*____________________________________________________________*/

.menu {
    font-family: 'proxima-nova';

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 96%;
    /* height: 15%; */
    height: 115px;
    padding: 0 2%;
    margin: 0;

    background-color: #FFF4ED;
    z-index: 9999;
    box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,.3);
}
/*____________________________________________________________*/

.title {
    text-decoration: none;
    font-size: 50px;
    margin: 0
}
/*____________________________________________________________*/

.createRecipe {
    background-color: #588B8B;
    border: none;
    border-radius: 7px;
    color: #FFD5C2;
    width: 204px;
    height:65px;
    font-weight: 900;
    font-size: 17px;
    cursor: pointer;
}
.createRecipe:hover {
    background-color: #659157;
    color: #EFE6DD;
}
/*____________________________________________________________*/

.selectWrapperFilter {
    position: relative; /*aligns the list with the label*/
}

.selectLabelFilter {
    display: flex;
    align-items: center;

    margin-top: 32px;
    padding: 10px 10px 43px;
    color: #545454;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}
.selectLabelFilter:hover {
    background-color: #588B8B;
    color: #FFF4ED;
    box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,.5)
}

.selectListFilter {
    display: none;
    position: absolute;
    z-index: 9999;
    /* top: 100%; */
    /* left: 0; */
    /* top: 83px; */
    margin:0;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #FFF4ED;
    list-style: none;
}

.selectWrapperFilter:hover .selectListFilter {
    display: block;
}
.selectWrapperFilter:hover .selectLabelFilter {
    border-bottom: 5px solid #545454;
}

.selectListFilter li {
    padding: 5px 10px;
    color: #C8553D;
    text-align: start;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 192.7px;
}
.selectListFilter li:hover {
    background-color: #e6e6e6;
}