.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 96%;
    /* height: 15%; */
    height: 115px;
    padding: 0 2%;
    margin: 0;

    background-color: #FFF4ED;
    /* border: 1px solid black;     */
    z-index: 9999;
}

.title {
    text-decoration: none;
    font-size: 50px;
    margin: 0
}

.createRecipe {
    background-color: #588B8B;
    border: none;
    color: #FFD5C2;
    width: 204px;
    height:65px;
    font-weight: 900;
    font-size: 17px;
}
.createRecipe:hover {
    background-color: #FFD5C2;
    color: #C8553D;
    cursor: pointer;
}